<p>検索</p>
<%= form_with(url: movie_index_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

 <!--@actorsの情報を１つずつ取り出して、actorという変数に代入-->
<% @actors.each do |actor| %>
<!--変数actorのnameを取り出すリンク、変数actorのidを取り出すmovie_pathを呼び出す-->
  <p><%= link_to actor[:name] , movie_path(actor[:id]) %></p>
<% end %>