<head>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
  <main>
    <div class="index-list">
      <% @actors.each do |actor| %>
      <!--変数actorのnameを取り出すリンク、変数actorのidを取り出すmovie_pathを呼び出す-->
        <ul>
          <li><%= link_to actor[:name] , movie_path(actor[:id]) %></li>
        </ul>  
      <% end %>
    </div>
    <div class="trend-search">
      <div class="trend-1">
        <h2>検索トレンド（作品）</h2>
      </div>
    </div>
  </main>
  
</body>